@charset "UTF-8";

@font-face {
    font-family: "LaPaloma";
	src: 	url("../assets/fonts/La-Paloma.woff") format("woff"),
			url("../assets/fonts/La-Paloma.ttf") format("truetype")
}

@font-face {
    font-family: "Mistral";
    src:	url("../assets/fonts/subset-Mistral.woff2") format("woff2"),
			url("../assets/fonts/subset-Mistral.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MaruBuri-Regular";
    src:	url("../assets/fonts/MaruBuri-Regular.woff2") format("woff2"),
			url("../assets/fonts/MaruBuri-Regular.otf") format("opentype"),
			url("../assets/fonts/MaruBuri-Regular.woff") format("woff"),
		    url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff") format("woff"),
			url("../assets/fonts/MaruBuri-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body,
html {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: rgb(251, 243, 235);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-snap-points-y: repeat(99.998vh);
	scroll-snap-type: y mandatory;
}

body {
  margin: 0;
}

::selection {
  background: rgb(235, 203, 185); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(235, 203, 185); /* Gecko Browsers */
}

.symbol {
	font-family: "Mistral";
}

.force-center {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

section {
	width: 100vw;
	height: 100.02vh;
	
	font-family: MaruBuri-Regular;
	font-size: calc(.7rem + .8vmin);
	color: #555555;
	text-shadow: 0px 0px 1.5px #636363;
	word-break: keep-all;
	
	background-color: rgb(21, 41, 77);
	background-position: center;
	background-size: cover;
	background-overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	
	scroll-snap-align: center;
	flex: none;
	position: relative; 
}

.content {
	min-width: calc(200px + 10vmin);
	width: calc(360px + 10vmin);
	max-width: 95vw;
	max-height: 99vh;
	padding: 5vmin;
}

.content > div {
	max-width: 360px;
}

.card {
	background: rgb(251 243 235 / 85%);
	box-shadow: 0px 0px 5px rgb(251 243 235);
	z-index: 2;
}

.frontmatter {
	background-image: url("../assets/img/bg-masthead-min.jpg");
}

.invitation-message {
	background-image: url("../assets/img/DSC05587-min.jpg");
}

.info {
	background-image: url("../assets/img/DSC05460-min.jpg");
}

.contact {
	background-image: url("../assets/img/DSC05990-min.jpg");
}

@media only screen and (max-width: 389px) {
	
	.invitation-message {
		background-image: url("../assets/img/DSC05587-min-mobile.jpg");
	}

	.info {
		background-image: url("../assets/img/DSC05460-min-mobile.jpg");
	}

	.contact {
		background-image: url("../assets/img/DSC05990-min-mobile.jpg");
	}
	
}

@media only screen and (max-height: 389px) {
	
	html {
		scroll-snap-points-y: repeat(99.998vh);
		scroll-snap-type: y proximity;
	}
	
	.content {
		padding: 1vmin 8vmin;
	}
	
	.invitation-message {
		background-image: url("../assets/img/DSC05587-min-mobile-landscape.jpg");
	}

	.contact {
		background-image: url("../assets/img/DSC05990-min-mobile-landscape.jpg");
	}
	
}

.title {
	width: 99vw;
	height: 99vh;
	color: #bbbbbb;
	opacity: .75;
	font-family: "LaPaloma";
	font-weight: 700;
	font-size: calc(.5rem + 10vmin);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.invitation-message {
	line-height: 2;
}

.sign {
	text-align: center;
	line-height: 1;
	margin-top: 5vmin;
}

.sign em {
	font-style: normal;
	font-size: larger;
	margin-left: .5vmin;
	color: #202020;
	text-shadow: 0px 0px 1.2px #404040;
}

.sign .symbol {
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-size: 5vmin;
	text-shadow: 0px 0px 2px #909090;
	color: #909090;
}

.info .content {
	height: 98vh;
}

.calendar {
	height: 65vh;
	text-align: center;
	color: rgb(21, 41, 77);
	text-shadow: 0px 0px 1px  rgb(21, 41, 77);
	font-family: "Bona Nova";
	font-weight: 600;
	font-variant: small-caps;
	position: relative;
}

.calendar > div {
	line-height: 1;
	font-size: calc(1.5rem + 2vh);
}

.calendar .month {
	line-height: .5;
}

.calendar .day {
	font-size: calc(3rem + 3vh);
}

.calendar .dow {
	font-size: calc(1rem + .2vh);
	line-height: 0;
}

.info-text {
	height: 32vh;
	text-align: center;
	position: relative;
	font-size: smaller;
}

.info-text div {
	width: 100%;
	line-height: 1.5em;
	padding: .5em;
}

#map {
	width: 360px;
	max-width: 100%;
	height: calc(360px * .6667);
	max-height: 50vh;
	margin: auto;
	background-image: url("../assets/img/map-min.png");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

#map a div {
	width: 80px;
	height: 80px;
}

#app {
	width: 100%;
	min-width: calc(200px + 10vmin);
	height: calc(.7rem + 2vmin);
	margin: auto;
	margin-bottom: 3vh;
}

#app .app-button, #app .app-icon, #app .app-title div {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}

#app a {
	text-decoration: none;
	color: inherit;
}

#app .app-button {
	display: inline-block;
	width: 47%;
	min-width: calc(95px + 3vmin);
	height: calc(1rem + 2vmin);
	font-size: calc(.7rem + .4vmin);
	text-align: center;
	background: white;
	opacity: .6;
	border: 1px solid silver;
	border-radius: calc(.35rem + 1vmin);
	position: relative;
	margin: 0 .5vmin;
}

#app .app-button .app-icon {
	width: calc(.5rem + 2vmin);
	height: calc(.5rem + 2vmin);
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 1%;
	transform: translate(0, -50%);
}

#app .app-button span {
	width: calc(100px + 20vmin);
	text-align: center;
	position: absolute;
	top: 50%; left: calc(50% + 50% * 1/5);
	transform: translate(-53%, -38%);
	line-height: 1.5em;
}

#loc, #address, #direction {
	padding: 0 3%;
}

#loc .loc-name {
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: larger;
	vertical-align: center;
}

#direction {
	font-size: smaller;
}

#direction .icon {
	width: 1.8vmin;
	height: 1.8vmin;
	opacity: .7;
}