@charset "UTF-8";

@font-face {
    font-family: "LaPaloma";
	src: 	url("../assets/fonts/La-Paloma.woff") format("woff"),
			url("../assets/fonts/La-Paloma.ttf") format("truetype")
}

@font-face {
    font-family: "Mistral";
    src:	url("../assets/fonts/subset-Mistral.woff2") format("woff2"),
			url("../assets/fonts/subset-Mistral.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MaruBuri-Regular";
    src:	url("../assets/fonts/MaruBuri-Regular.woff2") format("woff2"),
			url("../assets/fonts/MaruBuri-Regular.otf") format("opentype"),
			url("../assets/fonts/MaruBuri-Regular.woff") format("woff"),
		    url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff") format("woff"),
			url("../assets/fonts/MaruBuri-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body, html {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

html {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: rgb(251, 243, 235);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*scroll-snap-points-y: repeat(99.998vh);
	scroll-snap-type: y mandatory;*/
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

::selection {
	background: rgb(235, 203, 185); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgb(235, 203, 185); /* Gecko Browsers */
}

.symbol {
	font-family: "Mistral";
}

.force-center {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

section {
	width: 100%;
	height: 100%;
	
	font-family: MaruBuri-Regular;
	color: #555555;
	text-shadow: 0px 0px 1.5px #636363;
	word-break: keep-all;
	
	background-position: center 50%;
	background-size: cover;
	
	/*scroll-snap-align: center;*/
	position: relative;
}

.content {
	min-width: calc(200px + 10vmin);
	width: calc(360px + 10vmin);
	max-width: 95vw;
	max-height: 99vh;
	padding: 5vmin;
}

.content > div {
	max-width: 360px;
}

.card {
	background: rgb(251 243 235 / 85%);
	box-shadow: 0px 0px 5px rgb(251 243 235);
	z-index: 2;
}

.frontmatter {
	background-color: rgb(21, 41, 77);
	background-image: url("../assets/img/bg-masthead-min.jpg");
}

.invitation-message {
	background-image: url("../assets/img/DSC05587-min.jpg");
}

.info {
	background-image: url("../assets/img/DSC05460-min.jpg");
}

.contact {
	background-image: url("../assets/img/DSC05990-min.jpg");
}

@media only screen and (max-width: 389px) {
	
	.content {
		font-size: calc(.5em + 2.5vmin);
	}
	
	.title {
		font-size: calc(1em + 5vmin);
	}
	
	.invitation-message {
		background-image: None; /* url("../assets/img/DSC05587-min-mobile.jpg"); */
	}

	.info {
		background-image: url("../assets/img/DSC05460-min-mobile.jpg");
	}

	.contact {
		background-image: None; /* url("../assets/img/DSC05990-min-mobile.jpg"); */
	}
	
}

@media only screen and (min-width: 389px) {
	
	/*html {
		scroll-snap-points-y: repeat(99.998vh);
		scroll-snap-type: y proximity;
	}*/
	
	.title {
		font-size: calc(1em + 3vmin);
	}
	
	.content {
		font-size: calc(.2em + 2vmin);
	}
	
	.frontmatter {
		background-image: url("../assets/img/bg-masthead-min-mobile.jpg");
	}
	
	.invitation-message {
		background-image: url("../assets/img/DSC05587-min-mobile-landscape.jpg");
	}
	
	.contact {
		background-image: url("../assets/img/DSC05990-min-mobile-landscape.jpg");
	}

}

.title {
	width: 100%;
	height: 100%;
	color: #ffffff;
	opacity: .65;
	font-family: "LaPaloma";
	font-weight: 700;
	text-align: center;
	line-height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #101030;
	background-image: url("../assets/img/stars.jpg")
}

.title-text p {
	margin: 0;
}

.invitation-message {
	line-height: 2;
}

.sign {
	text-align: center;
	line-height: 1;
	margin-top: 8%;
}

.sign em {
	font-style: normal;
	font-size: larger;
	margin-left: .5vmin;
	color: #202020;
	text-shadow: 0px 0px 1.2px #404040;
}

.sign .symbol {
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-size: 5vmin;
	text-shadow: 0px 0px 2px #909090;
	color: #909090;
}

.info .content {
	height: 100%;
	padding: 0;
}

.calendar {
	width: 100%;
	height: 50%;
	margin: auto;
	text-align: center;
	color: rgb(21, 41, 77);
	text-shadow: 0px 0px 1px  rgb(21, 41, 77);
	font-family: "Bona Nova";
	font-weight: 600;
	font-variant: small-caps;
	position: relative;
}

.calendar > div {
	line-height: .7;
	font-size: calc(225% + 3vh);
}

.calendar .day {
	line-height: 1;
}

.calendar .dow {
	font-size: calc(.5em + .2vh);	
}

.info-text {
	height: calc(50% - 5vmin);
	margin: auto;
	text-align: center;
	position: relative;
}

.info-text div {
	width: 100%;
	line-height: 1.5em;
	padding: .5em;
	
	position: absolute;
	top: 85%; left: 50%;
	transform: translate(-50%, -50%);
}



#map {
	width: 360px;
	max-width: 100%;
	height: calc(360px * .6667);
	max-height: 50vh;
	margin: auto;
	background-image: url("../assets/img/map-min.png");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

#map a div {
	width: 80px;
	height: 80px;
}

#app {
	width: 100%;
	min-width: calc(200px + 10vmin);
	height: calc(.5em + 2vmin);
	margin: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#app a {
	text-decoration: none;
	color: inherit;
}

#app .app-button {
	/*width: 47%;*/
	/*min-width: calc(95px + 3vmin);*/
	height: calc(1.5em + 1.2vmin);
	
	font-size: calc(.6em + .5vmin);
	text-align: center;
	background: white;
	opacity: .6;
	border: 1px solid silver;
	border-radius: calc(1em + 1.2vmin);
	position: relative;
	padding: .2em;
	margin: 0 1em;
}

#app .app-button > div {
	display: flex;
    justify-content: center;
    align-items: center;
}

#app .app-button .app-icon {
	width: calc(1em + 1.2vmin);
	height: calc(1em + 1.2vmin);
	border-radius: 50%;
}

#app .app-button span {
	width: 85%;
	height: 100%;
	text-align: center;
	margin: 0 .5vw;
}

#loc, #address, #direction {
	padding: 0 3%;
	margin-bottom: .5vh;
}

#loc .loc-name {
	margin-top: 2em;
	margin-bottom: .5em;
	font-size: larger;
	vertical-align: middle;
}

#direction {
	font-size: smaller;
}

#direction .icon {
	width: calc(.8em + .8vmin);
	height: calc(.8em + .8vmin);
	opacity: .7;
}